/*
-Header Section
-Portfolio Section
-Footer Section

*/
/*commn Style*/
.captalize{
    text-transform: capitalize;
}
.btn{
    width:140px;
    min-width: 150px;
    margin-top:35px;
    background-color: transparent;
    border:1px solid #fff;
   
}
/*General Style*/
input,button{
    border-radius: 5px;
    padding: 10px;
}
input{
    margin-top:10px;
}
.btn,
input[type="submit"]{
    color:#fff; 
}

.ltr{
    float:left;
    width:20%
}
.frm-account >input[type="submit"],
.frm-account >input[type="radio"],
.frm-account >label{
    margin-top:10px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
.clear{
    clear: both;
}

body{
    font-family: 'Varela Round', sans-serif;
}
ul{
    list-style: none;
}
/*Header Section*/
.header{
position: fixed;
width:100%;
z-index: 100;
background-color:#fff;
}
.header .logo{
    width:30%;
    height: 58px;
    padding: 15px;
    float: left;
}
.nav-links{
    width:70%;
    height: 58px;
    text-align:center;
    float:left;
    
}
.nav-links li{
    height: 100%;
    width:60px;
    display: inline-block;
    margin: 0px 15px;
 }
.nav-links li a{
    display: block;
    width:100%;
    height: 100%;
    padding-top: 20px;
    font-family:  'Varela Round', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #000;
}
.nav-links li a.active-home{
   background-color: rgb(78, 131, 245);
}
.nav-links li a:after{
    text-align: center;
    content: "";
    display:block;
    width:0px;
    height: 2px;
    background-color: #fff;
    transition :width .5s ease-in;
}
.nav-links li a:hover:after{
    width:100%;
}
.nav-links li a.hover{
    transition: background-color  ease-in .5;
}
.nav-links li .hover:hover{
    background-color: rgb(78, 131, 245);
}
/*Portfolio Section*/
.portofolio{
    height: 100vh;
    background-image: url('../images/background/Web-Development.jpg');
    background-size: cover;
    
}
/*social-links*/
.social-links{
    width:300px;
    height: 35px;
    position: relative;
   
}
.social-links .links{
    position: absolute;
    top:60px;
    right: 100px;
    
}
.social-links>i{
    display: inline-block;
    width: 30px;
    height:30px;
    text-align: center;
    line-height: 1.9;
    border: 1px solid rgb(218, 213, 213);
    border-radius:50%;
    background-color: #fff;
    
}
.portofolio-content{
    color: rgba(250, 250, 250, 0.7);
    width:75%;
    /*background-color: aqua;*/
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
  
    
   
}
.portofolio-content-contact{
    width:100%;
    /*background-color: teal;*/
    padding: 10px;
 }
.create-account{
    position:relative;
    float:left;
    width:50%;
    /*background-color: yellow;*/
    padding: 10px;
    border-right: 1px solid #fff;
}
.new-account{
    font-size: 15px;
    
}
.create-account hr{
    width:150px;
}
.frm-account{
    margin-top:5px;
    padding: 10px;
}
.frm-account >input[name="last-name"]{
    margin-left:5px;
}
.frm-account >input[type="text"],
.frm-account >input[type="password"]{
    height: 35px;
    width:150px;
}
.frm-account >input[name="email-phone"],
.frm-account >input[type="password"]{
    width:100%;
}
.frm-account >input[type="radio"]{
   background-color:black;
    
}
.frm-account >input[type="submit"]{
   width:100px;
   height: 30px; 
   line-height: .5;
   font-size: 15px;
   background-color: rgb(116, 228, 88);
   position: absolute;
   top:180px;
   right: 20px;
  
}
.portofolio-content-details{
    float: left;
    width:50%;
    line-height: 1.6;
    /*background-color: thistle;*/
    padding: 30px;
}
.portofolio-content-details>h2{
    font-size: 21px;
}
.portofolio-content-details span{
    color:rgb(83, 137, 238)
}
.read-more{
    margin-left:7px;
        
    }

.get-start{
    margin-left:10px;
}
.title{
    text-align: center;
    margin-top:35px;
}
.title h2{
    font-size: 35px;
    color: #fff;
}
.title p{
    font-size: 13px;
}
/*Footer Section*/

